@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Rubik:400,500");
html, body {
  height: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: #f5ab25; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif; }

h1 {
  font-size: 22px;
  font-weight: 500; }

nav {
  background-color: white;
  height: 65px;
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  min-height: 65px; }
  nav .left-nav, nav .right-nav {
    display: flex;
    align-items: center; }
  nav .right-nav a:last-child {
    margin-right: 0; }
  nav a {
    color: #66727c;
    margin-right: 20px; }

.shadow {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); }

footer {
  background-color: #f7f7f7;
  color: #888c8b;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 13px;
  margin-top: 10px; }

.logo {
  height: 40px;
  margin-right: 30px; }

.small-icon {
  height: 15px;
  margin-right: 10px; }

.container {
  margin: 0 7%;
  flex: 1 0 auto; }

.grey-bg {
  background-color: #f0f2f2; }

.height-auto {
  height: auto; }

.card, .white-card {
  background-color: white;
  width: 40vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card input, .card textarea, .white-card input, .white-card textarea {
    display: block;
    width: 35vw;
    margin: 5px 0 35px 0; }
  .card label, .white-card label {
    margin-bottom: 10px; }

.white-card {
  width: auto;
  margin: 0;
  flex-direction: row;
  margin-top: 10px; }

input, textarea {
  height: 40px;
  padding: 0 10px;
  border-style: none;
  border: 1px solid #e0e0e0;
  font-size: 15px;
  font-family: "Lato", sans-serif; }

textarea {
  min-width: 35vw;
  max-width: 35vw;
  min-height: 40px; }

.contents-centered {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10vh 7%; }

.yellow-btn, .red-btn {
  background-color: #f5ab25;
  display: block;
  color: white;
  width: 100%;
  height: 45px;
  border-style: none;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400; }

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px; }

.available-times {
  display: flex;
  width: 100%; }

.available-time {
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  flex: 1;
  box-sizing: border-box; }

.first-time-span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none; }

.third-time-span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none; }

.time-active {
  border: 2px solid #80ba23;
  box-sizing: border-box; }

.search-results {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.search-bar {
  flex: 1.5;
  margin-right: 10px;
  height: 70vh;
  align-items: flex-start;
  display: flex;
  justify-content: center; }

.dog-sitters {
  flex: 3; }

.photo {
  flex: 1; }

.photo img {
  height: 100px;
  width: 100px; }

.about {
  flex: 2;
  padding-left: 20px; }
  .about p {
    margin: 5px 0; }
  .about h1 {
    margin: 5px 0; }

.fare {
  flex: 1;
  display: flex;
  justify-content: flex-end; }

h1 {
  color: #f5ab25; }

h2 {
  font-weight: normal; }

.address {
  font-size: 14px; }

.about-photo {
  display: flex;
  justify-content: center;
  margin: 30px 0; }
  .about-photo img {
    height: 170px;
    width: 170px;
    border-radius: 50%; }

.about-text {
  margin-left: 30px;
  margin-top: 40px; }

.about-header {
  display: flex;
  align-items: center; }

.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .three-grid .card {
    width: auto; }

.two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10vh 7%; }
  .two-grid .card {
    width: auto; }

#availability {
  margin-bottom: 10px;
  background-image: url(../images/calendar-black.svg);
  background-position: 285px center;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-right: 10px;
  width: 300px; }

.available-times {
  margin-bottom: 10px; }

.small-photo {
  height: 100px;
  width: 100px; }

.row {
  display: flex; }

.about-profile {
  margin-left: 15px; }

.card-title {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  color: grey;
  border-bottom: 1px solid lightgray;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 17px; }

.card-with-a-title {
  padding: 0 40px 40px 40px; }
  .card-with-a-title .row {
    margin-top: 30px;
    display: flex;
    align-items: center; }
  .card-with-a-title h1 {
    margin-top: 0; }

.is-dog-sitter {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  color: #66727c;
  font-size: 13px;
  display: flex;
  align-items: center; }

.availability-calendar {
  margin-top: 30px; }
  .availability-calendar table, .availability-calendar td {
    border: 1px solid gray; }

.fc-scroller {
  height: auto !important; }

.width-320 {
  width: 320px !important; }

.width-100 {
  width: 100%;
  box-sizing: border-box; }

.margin-top-30 {
  margin-top: 30px; }

.fc-today-button {
  display: none !important; }

.fc-dayGrid-view .fc-body .fc-row {
  min-height: 3em !important; }

.fc-button-primary {
  background-color: #f5ab25 !important;
  border-color: #f5ab25 !important; }

.green-date {
  background-color: #80ba23 !important; }
  .green-date span {
    color: white !important; }

.hide {
  display: none !important; }

.fc-button-group {
  display: none !important; }

.fc-day {
  background-color: #efefef; }

.fc-day-number {
  color: #babdc0; }

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: #f4f4f4 !important; }

.fc-unthemed td.fc-today {
  background: #efefef; }

.dog-sitter-profile {
  display: flex;
  margin: 20px 0 80px 0; }
  .dog-sitter-profile .left-column {
    flex: 1; }
  .dog-sitter-profile .right-column {
    flex: 2;
    margin-left: 30px; }

#booking-message {
  height: 100px;
  padding: 10px; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . ." ". . . .";
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .grid-container div img {
    width: 100%; }

.container--tabs {
  margin: 2rem;
  width: 100%; }
  .container--tabs .nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0; }
    .container--tabs .nav-tabs > li {
      float: left; }
      .container--tabs .nav-tabs > li > a {
        float: left;
        margin-right: 30px;
        padding: 10px;
        border: 3px solid transparent;
        box-sizing: border-box;
        font-family: "Rubik", sans-serif;
        color: #66727c;
        text-transform: uppercase; }
        .container--tabs .nav-tabs > li > a:hover {
          border-color: #f5ab25;
          color: #f5ab25;
          transition: border-color .5s ease; }
      .container--tabs .nav-tabs > li.active > a,
      .container--tabs .nav-tabs > li.active > a:hover,
      .container--tabs .nav-tabs > li.active > a:focus {
        color: #f5ab25;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        cursor: default;
        background-color: #fff;
        border: 3px solid #f5ab25; }
  .container--tabs .tab-content {
    float: left;
    width: 100%; }
    .container--tabs .tab-content > .tab-pane {
      display: none; }
      .container--tabs .tab-content > .tab-pane.active {
        display: block;
        padding: 2.5% 1.5%; }
    .container--tabs .tab-content > .active {
      display: block; }

.booking-table thead, .request-table thead {
  text-align: left;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif !important; }
  .booking-table thead .sitter, .request-table thead .sitter {
    width: 13vw; }
  .booking-table thead .pet, .request-table thead .pet {
    width: 10vw; }
  .booking-table thead .date, .request-table thead .date {
    width: 11vw; }
  .booking-table thead .time-range, .request-table thead .time-range {
    width: 10vw; }
  .booking-table thead .message, .request-table thead .message {
    width: 21vw; }

.booking-table, .request-table {
  width: 100%; }

.booking-table tr, .request-table tr {
  height: 40px;
  border-top: 1px solid gray; }

.small-photo, .photo img {
  border-radius: 50%; }

.flex-column {
  flex-direction: column; }

#booking-requests, #accepted-booking-requests, #declined-booking-requests {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }

img {
  object-fit: cover;
  object-position: center; }

.request-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .request-info img {
    height: 130px;
    width: 130px;
    border-radius: 50%; }
  .request-info h5 {
    margin-bottom: 10px; }

h5, .request-time {
  color: #66727c;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

.request-time {
  margin-left: 10px; }

.request-date {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  font-weight: 400; }

.request-message, .owner-info {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: #f0f2f2;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0 5px 0;
  line-height: 1.7em; }

.request-owner {
  color: #a5a6a5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  float: right; }

.accept-decline-buttons {
  display: flex;
  width: 90%;
  justify-content: space-between; }
  .accept-decline-buttons .yellow-btn, .accept-decline-buttons .red-btn {
    width: 170px;
    height: 40px;
    font-size: 15px; }

.red-btn {
  background-color: #d6472b; }

.request-card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  margin: 30px auto 0 auto; }

.request-text {
  margin-left: 25px; }

.accepted-booking-request, .declined-booking-request {
  margin-top: 10px; }

.declined-request {
  opacity: .4;
  margin-bottom: 0; }

.owner-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  grid-row-gap: 20px;
  width: 80%; }

h6 {
  font-size: 12px;
  color: #9b9b9b;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

.no-requests {
  color: lightgray;
  margin-top: 20px; }

.booking-container {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 15px; }
  .booking-container img {
    height: 60px;
    width: 60px;
    border-radius: 50%; }
  .booking-container h5 {
    color: black;
    font-weight: 500; }
  .booking-container h6 {
    color: black !important;
    font-weight: 500; }
  .booking-container .red-btn {
    width: 140px;
    font-size: 13px; }

.booking-time {
  font-size: 11px;
  color: #878787;
  font-family: "Rubik", sans-serif;
  margin-left: 5px; }

.booking-date-and-time {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 5px; }
  .booking-date-and-time h5 {
    font-weight: 400 !important; }

.vertical-divider {
  width: 1px;
  height: 45px;
  background-color: #d6d6d6; }

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #d6d6d6; }

.booking-message {
  font-size: 14px; }

.message-block {
  display: flex;
  flex-direction: column; }
  .message-block .booking-time {
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 3px; }
  .message-block h6 {
    font-weight: 500; }

.green-label, .red-label, .gray-label {
  background-color: #93cc25;
  padding: 5px 7px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  width: 75%;
  text-align: center;
  margin-top: 5px; }

.red-label {
  background-color: #bc3c4f !important; }

.gray-label {
  background-color: #b7b7b7 !important; }

.side-btns {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }
  .side-btns button {
    font-size: 13px;
    padding: 0 20px;
    height: 30px; }
    .side-btns button:first-child {
      margin-bottom: 10px; }
  .side-btns a {
    width: 30px;
    font-size: 13px;
    padding: 8px 20px;
    height: auto;
    margin-bottom: 10px; }

#myDog {
  margin: 0; }

.booking-requests-all {
  margin: 0 auto 10vh auto;
  width: 100%; }

.upload-photos-btn {
  border: 1px solid #66727c;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #66727c;
  padding: 15px;
  display: inline-block;
  border-radius: 3px; }

#fileToUpload {
  width: auto; }

#frmUploadProfilePhoto, #frmUploadDogSitterPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }

.custom-file-input {
  color: transparent;
  border: none;
  height: 46px;
  width: 137px !important;
  padding: 0;
  margin: 5px 0 25px 0; }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file-input::before {
  content: 'Select photos';
  border: 1px solid #66727c;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #66727c;
  padding: 15px;
  display: inline-block;
  border-radius: 3px; }

.custom-file-input-one-file::before {
  content: 'Select a photo' !important; }

.custom-file-input:hover::before {
  border-color: black; }

.custom-file-input:active {
  outline: 0; }

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

.services {
  background-color: #f3f3f3;
  padding: 20px 35px 35px 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .services h6 {
    text-transform: none; }
  .services h4 {
    margin: 0 0 25px 0;
    font-weight: 500;
    font-size: 19px; }
  .services .row {
    justify-content: space-between;
    width: 100%; }

.fare-price {
  font-size: 15px; }

.contact-btn {
  width: 24%;
  height: auto;
  padding: 10px;
  font-size: 15px;
  margin-top: 30px; }

.main-photo {
  grid-area: mainp; }

.regular-photo {
  grid-area: photo; }

.dog-sitter-photos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 30px 0 0 30px; }

.main-photo, .regular-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

#add-a-dog-container {
  margin-top: 15px;
  padding: 20px 20px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: whitesmoke; }
  #add-a-dog-container .yellow-btn {
    padding: 13px 20px;
    width: 90px;
    height: auto; }

#myDog {
  padding: 0 40px 40px 40px;
  width: 100%;
  margin-top: 40px;
  align-items: flex-start; }
  #myDog p {
    margin: 0 0 20px 0; }
  #myDog .white-card {
    padding: 20px 20px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: whitesmoke; }
  #myDog .title {
    width: 100%;
    padding: 0 40px 0 0;
    box-sizing: border-box; }
  #myDog .photo {
    flex: 0; }

#frmAddDog {
  margin-top: 50px; }
  #frmAddDog input {
    margin: 5px 0 5px 0; }
  #frmAddDog .yellow-btn {
    width: 100%; }

input[type="radio"] {
  width: auto; }

.dog-gender {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }
  .dog-gender input {
    margin-right: 10px !important;
    margin-bottom: 0; }
  .dog-gender span {
    margin-right: 20px; }

.dog-photo-container {
  display: flex;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap; }
  .dog-photo-container label {
    width: 100%; }
  .dog-photo-container input::before {
    margin-left: 20px; }
  .dog-photo-container .custom-file-input {
    width: 160px !important; }
  .dog-photo-container label {
    margin-top: 10px; }

select {
  height: 40px;
  padding: 0 10px;
  width: 100%;
  border: 1px solid #e0e0e0;
  margin: 5px 0 5px 0;
  font-size: 15px;
  font-family: "Lato", sans-serif; }

#dog-image-preview {
  background-color: lightgray; }

#frmBecomeDogsitter {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #frmBecomeDogsitter .yellow-btn {
    width: 100%; }
  #frmBecomeDogsitter input {
    margin: 5px 0 15px 0; }
  #frmBecomeDogsitter textarea {
    margin-bottom: 10px;
    padding: 10px; }

#txtsAboutDogSitter {
  height: 100px; }

.white-card .about h1 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase; }
.white-card .about p {
  color: black; }
.white-card .fare h2 {
  font-family: "Rubik", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500; }

.leave-a-review {
  width: 120px;
  font-size: 13px;
  height: auto;
  padding: 10px 5px; }

#frmLeaveAReview {
  margin: 30px 0 20px 0; }
  #frmLeaveAReview input {
    margin-bottom: 10px; }
  #frmLeaveAReview h5 {
    margin-bottom: 10px; }

.review-stars {
  display: flex;
  margin-bottom: 30px; }
  .review-stars .review-star {
    cursor: pointer; }
    .review-stars .review-star img {
      height: 25px;
      margin-right: 5px; }

svg {
  height: 25px;
  margin-right: 5px; }

.st0 {
  fill: #E0E0E0; }
  .st0:hover {
    fill: #f4db27 !important; }

.yellow-star {
  fill: #f4db27 !important; }

#txtReview {
  min-width: 35vw;
  max-width: 35vw;
  min-height: 70px;
  margin: 5px 0px 15px;
  padding: 10px; }

.review-left h6 {
  color: #93cc25 !important; }

.reviews-container {
  margin: 50px 0 0 30px; }
  .reviews-container h3 {
    font-weight: 500; }

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .review-header .photo {
    flex: 0; }
    .review-header .photo img {
      height: 60px;
      width: 60px; }
  .review-header h5 {
    margin-bottom: 3px; }
  .review-header .review-owner-info {
    margin-left: 20px; }

.owner-photo-info {
  display: flex;
  align-items: center; }

.review {
  width: 80%;
  margin-bottom: 30px; }
  .review p {
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 25px; }

.stars-rating {
  display: flex; }
  .stars-rating img {
    height: 25px; }

.margin-right-5 {
  margin-right: 5px; }
  .margin-right-5:last-child {
    margin-right: 0; }

#frmChangeDog {
  margin-bottom: 30px; }
  #frmChangeDog .yellow-btn {
    margin: 20px 0 0 0;
    width: 100%; }
  #frmChangeDog .about-text {
    margin-left: 0;
    margin-top: 0; }
  #frmChangeDog input {
    margin-bottom: 10px; }
  #frmChangeDog h1 {
    margin-bottom: 8px; }
  #frmChangeDog h5 {
    margin-bottom: 10px; }
  #frmChangeDog .left-column {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
  #frmChangeDog #dog-image-preview {
    height: 100px;
    width: 100px; }
  #frmChangeDog .custom-file-input {
    margin-left: 30px; }
  #frmChangeDog .about-photo {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
